
.bgcolor{
    background-color:  #0A0A0A;
    color: #FFFFFF;
}
.bgcolor1{
    color:  #0A0A0A;
    background-color: #FFFFFF;
}
.bgcolor2{
 
    background: linear-gradient(179.93deg, #01214E 9.77%, rgba(16, 16, 16, 0.0001) 84.51%, #0A0A0A 106.47%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.bgcolor3{
background: #EB5400;
border-radius: 5px;
margin-left: 91px;
margin-right: 91px;

}
.font-face-aleo-h{
    font-family: Aleo;
    font-weight: 700;
    font-size: 48px;
}

.font-face-aleo-sh{
font-family: Aleo;
font-weight: 700;
font-size: 32px;
}

.font-face-aleo{
font-family: Aleo;
font-weight: 400;
font-size: 18px;
}

.font-face-mulish-h{
font-family: Mulish;
font-weight: 600;
font-size: 21px;
}
.font-face-mulish-sh1{
    font-family: Mulish;
    font-weight: 600;
    font-size: 24px;
    }
.font-face-mulish-sh{
font-family: Mulish;
font-weight: 400;
font-size: 24px;
}
.font-face-mulish-sh2{
    font-family: Mulish;
    font-weight: 400;
    font-size: 21px;
    }
.font-face-mulish{
font-family: Mulish;
font-weight: 400;
font-size: 18px;
 
 
 

}
.font-face-mulish-h1{
font-family: Mulish;
font-size: 18px;
color: #777778;
}
.font-face-mulish-h2{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;     
    }
.img-fluid{
height: 10px;
width: 296px; 
border-radius: 0px;
margin-left: 152px;
margin-top: -40px;
}

.hr2{
    height: 1px;
    width: 80%;
    border-color: #777778;
    color: #777778;
    background-color: #777778;
}
.img-fluid1{
    height: 10px;
    width: 172px;    
     

}
.img-fluid2{
    /* Bitmap */
width: 340px;
height: 312px;
 }
.image5{
    height: 236px;
width: 364px;
border-radius: 0px;
}
.col1{
    margin-top: 74px;
     
}
.col2{
    margin-top: 40px;
     
}
.row{
    margin-left: 80px;
}
.contact{
color: orange;
    border: #FFFFFF;
    border-radius: 3px;
}
.text-center1{
    height: 280px;
    width: 230px;
}


 