

.font-face-aleo-h{
        font-family: Aleo;
        font-weight: 700;
        font-size: 48px;
}

.font-face-aleo-sh{
    font-family: Aleo;
    font-weight: 700;
    font-size: 32px;
}

.font-face-aleo{
    font-family: Aleo;
    font-weight: 400;
    font-size: 18px;
}

.font-face-mulish-h{
    font-family: Mulish;
    font-weight: 600;
    font-size: 21px;
}

.font-face-mulish-sh{
    font-family: Mulish;
    font-weight: 400;
    font-size: 24px;
}

.font-face-mulish{
    font-family: Mulish;
    font-weight: 400;
    font-size: 18px;
}

.bgcolor{
    background-color:  #0A0A0A;
    color: #FFFFFF;
}

.bgcolor-ourcap{
    background-color: #1A1B20;
}

.btn{
    background-color: #2680FE;
    border: none;
    color: #FFFFFF;
}

.hr2{
    height: 1px;
    width: 80%;
    // padding-left: 80px;
    // padding-right: 80px;
    border-color: #777778;
    color: #777778;
    background-color: #777778;
}

// .hrw1{
//     align-items: center;
// }